'menu': [
  {
    'label': 'Packages'
    'submenu': [
      {
        'label': 'Spell Check'
        'submenu': [
          {
            'label': 'Toggle'
            'command': 'spell-check-plus:toggle'
          }
        ]
      }
    ]
  }
],
'context-menu':
  'atom-text-editor:not([mini])': [
    {label: 'Correct Spelling', command: 'spell-check-plus:correct-misspelling'}
  ]
